<!DOCTYPE html>
<html>
    <head>
        <title>Just 4 Kickz</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
                    <a class="navbar-brand" href="/">Just 4 Kickz</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/leagues">Leagues</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/pickup">Pick up Games</a>
                  </li>
                </ul>
              </div>
              <!--to make these three to the right-->
              <div class="collapse navbar-collapse d-flex flex-row-reverse">  
                    <ul class= "navbar-nav navbar-right">
                      <% if(!currentUser){ %>
                        <li><a class="nav-link" href="/register">Register</a></li>
                        <li><a class="nav-link" href="/login">Login</a></li>
                      <% }else{ %>
                        <li><a class="nav-link" href="#">Hello! <%=currentUser.username%></a></li>
                        <li><a class="nav-link" href="/users/profile/<%=currentUser._id%>">Profile</a></li>
                        <li><a class="nav-link" href="/logout">Logout</a></li>
                      <%  } %>
                    </ul>
              </div>
        </nav>