<% include ../partials/header %> 

<!--<div class="jumbotron vertical-center">-->
<!--  <h1 class="display-4">Just 4 Kickz!</h1>-->
<!--  <p class="lead">Join the fun! Choose between Soccer Leagues, Pickup Games or Birthday Parties</p>-->
<!--  <hr class="my-4">-->
<!--  <p id="jumbopar">Just like yours, Our passion is soccer </p>-->
<!--  <p class="lead">-->
<!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--  </p>-->
<!--</div>-->

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h1 class="display-4">Just 4 Kickz!</h1>
                <p class="lead">Join the fun! Choose between Soccer Leagues, Pickup Games or Birthday Parties</p>
                <hr class="my-4">
                <p id="jumbopar">Just like yours, Our passion is soccer </p>
                <p class="lead">
                  <a id="cardBtn" class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="row">
  <div class="row justify-content-around">
      <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>Birthday Parties</b></h4> 
              </div>
              <img class="cardImage" src="/images/grass-girl-lawn-meadow-play-kid-846614-pxhere.com.jpg" alt="Birthday Parties" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Birthday Parties</h1> 
              <p></p> 
              <p>Rent our fields to celebrate</p>
              <p>your Birthday!</p>
            </div>
          </div>
          <div>
            <p>
              <a id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Learn More</a>
            </p>
          </div>
        </div> 
      </div>
    </div>  
    <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>U12 League</b></h4> 
              </div>
              <img class="cardImage" src="/images/game-play-soccer-football-player-children-825242-pxhere.com.jpg" alt="U12" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>U12 League</h1> 
              <p>Boys League</p> 
              <p>Girls League</p>
              <p>Mixed League</p>
            </div>
          </div>
          <div>
            <p>
              <a id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Learn More</a>
            </p>
          </div>
        </div> 
      </div>
    </div> 
    <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>Training</b></h4> 
              </div>
              <img class="cardImage" src="/images/play-train-soccer-football-player-teenager-568840-pxhere.com.jpg" alt="U12" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Train with Us</h1> 
              <p></p>
              <p></p>
              <p>Contact us to register for training!</p> 
            </div>
          </div>
          <div>
            <p>
              <a id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Learn More</a>
            </p>
          </div>
        </div> 
      </div>
    </div> 
  </div>
</div>


<div class="jumbotron jumbotron-fluid" id="jumbo2">
  <div class="img"></div>
  <div class="container">
    <h1 class="display-4">GET COMPETITIVE!</h1>
    <p class="lead">Register your team and compete for the glory!.</p>
  </div>
</div>



<div class="container" id="row2">
  <div class="row justify-content-around">
      <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>Women Leagues</b></h4> 
              </div>
              <img class="cardImage" src="/images/soccer-player-sports-ball-odyssey-football-player-222011-pxhere.com.jpg" alt="Women Leagues" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Women Leagues</h1> 
              <p></p> 
              <p>Only Women!</p>
              <p>LogIn to join a team</p>
            </div>
          </div>
          <div>
            <p>
              <a id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Learn More</a>
            </p>
          </div>
        </div> 
      </div>
    </div>  
    <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>Men Leagues</b></b></h4> 
              </div>
              <img class="cardImage" src="/images/grass-sport-lawn-green-red-nike-642827-pxhere.com.jpg" alt="U12" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Men Leagues</h1> 
              <p></p> 
              <p></p>
              <p>Log In to Join a Team!</p>
            </div>
          </div>
          <div>
            <p>
              <a id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Learn More</a>
            </p>
          </div>
        </div> 
      </div>
    </div> 
    <div class="col-md-3 col-sm-6" >
      <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="container">
                  <h4><b>Pickup Games</b></h4> 
              </div>
              <img class="cardImage" src="/images/grass-sport-play-soccer-football-player-807119-pxhere.com.jpg" alt="U12" style="width:200;height:200px;">
            </div>
            <div class="flip-card-back">
              <h1>Pick up Games</h1> 
              <p>Mondays and Wednesdays</p> 
              <p>From 8pm to 11pm</p>
              <p>Save your place</p>
            </div>
          </div>
          <div>
            <p>
              <a href="/pickup" id="cardBtn" class="btn btn-primary d-flex justify-content-center" >Save your place now!</a>
            </p>
          </div>
        </div> 
      </div>
    </div> 
  </div>
</div>







<% include ../partials/footer %> 