<% include ../partials/header %> 

<div class="jumbotron vertical-center">
  <h1 class="display-4">Just 4 Kickz!</h1>
  <p class="lead">Join the fun! Choose between Soccer Leagues, Pickup Games or Birthday Parties</p>
  <hr class="my-4">
  <p>Just like yours, Our passion is soccer </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>


<% include ../partials/footer %> 