<% include ../partials/header %>


<div class="row">
        <div class="col-lg-12">   
            <h2>List of Teams</h2>
        </div>
    </div>
    <div class="row text-center d-flex justify-content-around">
        <% teams.forEach(function(teams){ %>
            <div class="col-md-4 col-sm-6 ">
                <div class="card border-secondary mb-3"  style="width: 18rem;">
                    <img class="card-img-top" src= <%= teams.image    %> >   
                </div>
                <div class="card-body">
                    <h5 class="card-title ">
                         <%= teams.name %>
                    </h5>
                </div>
                <p>
                   <a href="/teams/<%=teams._id%>" class="btn btn-primary">More Info </a> 
                </p>
            </div>
    <% }) %> 








<% include ../partials/footer %>